/* Header */

header{
border: 1px solid red;
width: 100%;
height: 133px;
margin: auto;
display: flex;
align-items: center;
justify-content: space-between;
background: #030617;


}

.logo{
    width: 80px;
height: 82px;
margin-left: 90px;

}

.image-logo{
    width: 100%;
}

.link .nav {
    display: flex;
  
}


nav {
	margin:  auto 0;

	position: relative;
	width: 590px;
	height: 50px;
	background-color: #030617;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 160px;
}
a:nth-child(5) {
	width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: #e67e22;
}


.contact{
    margin-right: 90px;
    cursor: pointer;
}
.contact button{
   color: white;
   border-radius: 15px;
   background: #0E76A8;
   width: 159px;
   height: 39px; 
   border: none;
font-family: Kanit;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal; 
}

.contact button a{
  text-decoration: none;
  color: white;
 }
 

/* my info */

.container{
    border: 2px solid blue;
}


.container1 {
    display: flex;
    justify-content: space-between;
    /* max-width: 800px; */
    width: 100%;
    border: 1px solid green;
   align-items: center;
   margin-top: 100px;

}

.text {

    border: 1px solid purple;
    margin-left: 90px;
}

.ma-photo {
    width: 406px;
    height: 321px; 
    background: #BEC4CA;
    margin-right: 90px;
}

.ma-photo .photo{
    max-width: 100%;
    height: auto;
    display: block;
    padding: 41px 82px;
}